.header{
  height:32vh;
  width:220vh;
  background-image:url("cloudbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom-style:solid;
  border-color:rgb(142, 149, 177);
}

#bvlogo
{
  border-radius:60%;
  padding-top: 10%;
}